.fexCentre {
    display: flex;
    justify-content: center;
    align-items: center;

}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sizelink {         /* taille de l'espacement entre les liens */
    width: 30%;
}
.colorlink1 {       /* couleur des liens avant et apres clique */
    text-decoration: none;
    color:#0065FC
}
.colorlink1:hover {
    text-decoration:none;
    color: #DEEBFF; 
}
.colorlink2 {
    text-decoration: none;
    color:black
}
.colorlink2:hover {
    text-decoration: none;
    color:#F2F2F2 ;
}
nav {                   /* police d'ecriture de tout le texte dans nav */
    font-family: raleway;
}
em {
    font-style:normal
}